$neutralMain: #251A06;
// $neutralMain: rgb(18, 16, 17);
$primaryMain: #FFAB00;
$accentDark: #263788;
$accentMain: #2DB7FF;
$accentLight: #6874AA;

$backgroundDarkMain: $neutralMain;
$backgroundLightMain: #FFFFFF;

$textNeutralDark: #FFFFFF;
$textPrimaryDark: $primaryMain;
$textNeutralLight: $neutralMain;
$textPrimaryLight: $primaryMain;

$textFont: Fira Sans, sans-serif;

$numberPlateLeft: rgb(59, 83, 146);
$numberPlateRight: rgb(218, 185, 54);
