@import '../../assets/colours.scss';

.login-form {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-form__label {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  font-family: $textFont;
}

.login-form__input {
  width: 20rem;
  height: 2rem;
  margin: 0.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input {
    width: 10rem;
    height: 1.5rem;
    padding: 0.125rem 0.5rem;
    border: 0.125rem solid $accentDark;
    background-color: $backgroundLightMain;
    border-radius: 0.5rem;
    font-family: $textFont;
    font-size: 1rem;
    color: $textNeutralLight;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
      border: 0.125rem solid $primaryMain;
    }
  }
}

.login-form__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin-top: 2rem;

  button {
    width: 10rem;
    height: 2rem;
    margin: 0.125rem;
    border: 0.125rem solid $accentMain;
    background-color: $accentMain;
    border-radius: 0.5rem;
    font-family: $textFont;
    font-size: 1rem;
    color: $textNeutralDark;
    cursor: pointer;

    &:hover {
      background-color: $accentDark;
      border-color: $accentDark;
      color: $textNeutralDark;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 0.125rem solid $primaryMain;
    }
  }
}
